body {
background-color: grey;

}

h3 {
    padding: 10px;
    font-family:'Bahianita', cursive;


}

.jumbotron {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    background-color: pink;
    color: white;
}


.col-md-6 {
    border-style: solid; 
    border-width: thin;
    border-color: white;
    height: 600px;

}

.row {
    height: 150px;

}

.card-footer {
    font-family: 'Bahianita', cursive;
    color: white;
    background-color: pink;
}

