body {
background-color: grey;

}


.jumbotron {
    background-image:url(../images/headerbg.jpeg);
    background-size: 100%;

}

.display-4 {
    font-family: 'Russo One', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
}


.col-md-6, .col-md-12 {
    font-family: 'Bahianita', cursive;
    color: white;
    height: 250px;
    text-align: center;

}

.row {
    height: 150px;
    text-align: center;

}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  
